{% load staticfiles %}
{% block content %}
  <div class="container welcome">

    <div class="row">
      <div>
        <h1 class="fancytitle">Divine Creations</h1>
        <p class="fancybody"></p>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m4">
        <div class="card bevel" id="about">
          <div class="card-content">
            <span class="fancytitle card-title">About Sarah</span>
            <p class="fancybody"></p>
          </div>
        </div>

      <div class="col s12 m8">
        <div class="card bevel" id="theta">
          <div class="card-content">
            <span class="fancytitle card-title">About Sarah</span>
            <p class="fancybody"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m4">
        <div class="card bevel", id="packages">
          <div class="card-content">
            <span class="fancytitle card-title">About Sarah</span>
            <p class="fancybody"></p>
          </div>
        </div>

      <div class="col s12 m8">
        <div class="card bevel", id="crystals">
          <div class="card-content">
            <span class="fancytitle card-title">About Sarah</span>
            <p class="fancybody"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <noscript>...</noscript>
  <script type="text/javascript" src="{{ static/scripts 'main.js' }}"></script>
{% endblock %}
